
<div class="container">
  <div class="jumbotron">
    <img src="assets/images/Chuck-Norris.jpg" width="100" />
    <h1>Chuck Jokes</h1>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Menu</div>
    <div class="panel-body">
      <ul>
        <li><a routerLink="/single-joke">Single Joke</a></li>
        <li><a routerLink="/multi-jokes">Multi Jokes</a></li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>

