<div class="row" id="{{joke.id}}">
  <div class="col-xs-10">{{joke.value}}</div>
  <div class="col-xs-2" ng-click="addToFavorites()">
    <img [src]="isFavorite ? starImageActive : starImageInactive" />
  </div>
</div>
