

  <div class="form-group">
    <label for="txtFirstName">First Name</label>
    <input type="text" class="form-control" id="txtFirstName" [(ngModel)]="person.FirstName" placeholder="First Name">
  </div>
 
  <div class="form-group">
    <label for="txtLastName">Last Name</label>
    <input type="text" class="form-control" id="txtLastName" [(ngModel)]="person.LastName" placeholder="Last Name">
  </div>

  <button type="submit" class="btn btn-primary" (click)="callJoke()">Generate Joke</button>

<div *ngIf="joke"> 
  <h2>{{joke.joke}}</h2>
</div>
