<h1>Random Jokes</h1>

<div class="form-group">
  <label for="txtJokesNr">Number of Jokes</label>
  <input type="text" class="form-control" id="txtJokesNr" placeholder="Number of Jokes" #jokesNrInput>
</div>
<button type="submit" class="btn btn-primary" (click)="callRandomJokes(jokesNrInput.value)">Generate Jokes</button>
<br><br><br>
<div class="form-group">
  <label for="jokesNr">Number of Jokes</label>
  <input type="text" class="form-control" id="jokesNr" [(ngModel)]="jokesNr" placeholder="Number of Jokes">
</div>
<button type="submit" class="btn btn-primary" (click)="callRandomJokesV1()">Generate Jokes</button>

<br><br>
<div *ngIf="jokes"> 
  <ol>
    <li *ngFor="let joke of jokes">{{joke.joke}}</li>
  </ol>
</div> 